* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: #111;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* HUD */
#hud {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #222;
}

/* Game Area */
#game {
  position: relative;
  background: #000;

  width: 100%;
  height: calc(100vh - 48px);

  overflow: hidden;
}


/* Player */
#player {
  position: absolute;
  bottom: 16px;
  left: 50%;

  width: 96px;
  height: 20px;

  background: linear-gradient(#00ffcc, #009988);
  border-radius: 10px;

  transform: translateX(-50%);
  z-index: 10;
}



/* Falling Objects */
.object {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.good {
  background: gold;
}

.bad {
  background: crimson;
}

/* Rotate Overlay */
#rotateNotice {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  color: #fff;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}
