* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  background: #111;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ---------- HUD ---------- */

#hud {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 10px 14px;
  background: #222;
  font-size: 18px;
}

#level {
  text-align: left;
}

#timer {
  text-align: center;
  font-weight: bold;
}

#coins {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

#coins img {
  width: 24px;
  height: 24px;
}

/* ---------- INSTRUCTIONS ---------*/

#instructions {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  background: #1a1a1a;
  color: #ffcc00;
}

/* ---------- GAME AREA ---------- */

#game {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: center;
  width: 100%;
}


/* ---------- BREAKABLE OBJECT ---------- */

.breakable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breakable img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

/* ---------- HIGH SCORE ---------- */

#highScore {
  position: fixed;
  bottom: 8px;
  right: 10px;

  font-size: 12px;
  color: #ffcc00;
  background: rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
  border-radius: 6px;
}

/* ---------- DISABLE SELECTION & HIGHLIGHTING --------*/
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  -webkit-touch-callout: none;
}

/* ---------- DISABLE IMAGE DRAGGING -----*/
img {
  pointer-events: auto;
  -webkit-user-drag: none;
}

/* ---------- DISABLE PAGE SCROLLING -----*/
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}



